/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* HIGH LEVEL
/*******************************************/
html {
  height: 100%;
  font-family: 'Heebo', sans-serif !important;
  font-family: 'ZCOOL XiaoWei', serif;
  background-color: black;
  z-index: -1;
}

body {

}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}



.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: fit-content;
  max-height: 100%;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.center {
  margin: auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
  width: 80%;
  margin: 20px auto;
  
  text-align: center;
  border-bottom: #E00D0C solid 3px;
}

h1, h2, h3, h4, p, span {
  color: white;
}

#fetchRandomBtn {
  width: fit-content;
}

#fetchAllBtn {
  width: fit-content;
}

#monsterContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.monsterCard {
  list-style: none;
  width: 30%;
  height: 300px;
  border: 2px solid grey;
  box-shadow: 5px 5px 5px grey;
  margin: 10px
}

.btnListConstainer {
  justify-content: start;
}

button {
  margin: 4px;
  background-color: #E00D0C;
  color: white;
  border: none;
  padding: 5px 7px;
}

.inactive {
  background-color: grey;
}

.active {
  background-color: #E00D0C;
}

#fetchBtnsContainer {
  justify-content: space-around;
  margin-top: 20px;
}

.bigBtn {
  margin: 20px;
  padding: 0 10px;
}

#challengeRatingLabel {
  font-weight: bold;
  
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

/******************************************
/* RELATIVE SIZING */
/*******************************************/

.tenth {
  width: 10%;
}

.fif {
  width: 20%;
}

.quarter {
  width: 25%;
}

.thirdy {
  width: 30%;
}

.third {
  width: 33.3%;
}

.foedee {
  width: 40%;
}

.colt45 {
  width: 45%;
}

.fiddy {
  width: 50%;
}

.sixty {
  width: 60%;
}

.seventy {
  width: 70%;
}

.threeQuarter {
  width: 75%;
}

.ayyydee {
  width: 80%;
}

.ninety {
  width: 90%;
}

.oneHundo {
  width: 100%;
}

/******************************************
/* FLEX */
/*******************************************/
.flexContainer {
  display: flex;
  overflow: hidden;
}

.flexLeft {
  display: flex;
  justify-content: start;
}

.flexRight {
  display: flex;
  justify-content: end;
}

.flexCenterH {
  display: flex;
  justify-content: center;
}

.flexSpaceBetweenH {
  display: flex;
  justify-content: space-between;
}

.flexSpaceAroundH {
  display: flex;
  justify-content: space-around;
}

.flexBottom {
  display: flex;
  align-items: flex-end;
}

.flexTop {
  display: flex;
  align-items: flex-start
}

.flexCenterV {
  display: flex;
  align-items: center;
}

.flexSpaceBetweenV {
  display: flex;
  align-content: space-between;
}

.flexSpaceAroundV {
  display: flex;
  align-content: space-around;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.flexFit {
  display: flex;
  flex-wrap: nowrap;
}

.flexColumn {
  flex-direction: column;
}

.flexGrow1 {
  flex-grow: 1;
}